.quiz-container {
    text-align: center; /* Center content horizontally */
  }
  
  .quiz-button {
    background-color: blue; /* Blue button color */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust button size */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    margin-top: 20px;
    margin-left: 20px; /* Add margin to buttons */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  .quiz-selection {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-selection h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quiz-selection ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quiz-selection li {
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .quiz-selection li:hover {
    color: #007bff;
  }
  